* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    /* Fix white strip issues */
    color: #fff;
}

@font-face {
    font-family: 'Metal';
    src: url('./shared/assets/fonts/Metal Reg-2.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./shared/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}